.THIS .slds-size_6-of-12, .THIS .slds-size_12-of-12{
    padding-left: 10px;
    padding-top: 10px;
}
.THIS .marginTop {
        margin-top: 25px;
}
.THIS .recForm {
    width:100%
}
.THIS .nameField > lightning-input {
    display: inherit!important;
}
.THIS .newButt {
    margin: 20px;
    margin-right: 0px;
}
.THIS .AddButt {
    margin-top: 28px;
}
.THIS .slds-pill__action{
    border-radius: 1rem !important;
    text-indent: 0.5rem !important;
}